/* For explore specific styles */
/***HEADER***/
body {
	margin: 0;
	width: 100%;    
}
/* Added height specificity for page header */
header {
	
	background-position: center;
}
/* Added margin for readability */
.header-content {
	margin-top: 70px;
}

.lake-pleasant-logo {
	height: 100%;
	left: 0px;
	display: inline-block;
}


/***IMAGES CSS***/
.rcorners1 {
  border-radius: 45px;  
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;
  float: left;
}
.rcorners2 {
  border-radius: 45px;  
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;
  float: right;
}

/***RESPONSIVE IMAGES***/
img {
  max-width: 100%;
  height: auto;
}
/***CLICKABLE IMAGE TEXT***/
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
/* Overrides global css link styles for content */
div article a {
  color: blue;
  text-decoration: none;
}
div article a:visited {
    color: violet;
}
/* No Changes to global link & navigation hover colors */
div article a:hover, .nav-active:hover {
  border-color: #1B2067;
  color:  #1B2067;
}
