/* For explore specific styles */
/***HEADER***/
body {
	margin: 0;
	width: 100%;
}
/* Added height specificity for page header */
header {
	height: 80%;
	background-position: center;
}
/* Added margin for readability */
.header-content {
	margin-top: 70px;
}
.lake-pleasant-logo {
	height: 100%;
	left: 0px;
	display: inline-block;
}
/***CONTENT CONTAINERS***/
.container2 {
<<<<<<< HEAD
  background-color: lightgrey;    
=======
  background-color: lightgrey;
>>>>>>> AltBranch
  width: auto;
  border: 15px solid lightgrey;
  padding: 50px;
  margin: 0;
  text-align: center
}
.container1 {
<<<<<<< HEAD
  background-color: white;    
=======
  background-color: white;
>>>>>>> AltBranch
  width: auto;
  border: 15px solid white;
  padding: 50px;
  margin: 0;
  text-align: center
}
/***IMAGES CSS***/
.rcorners1 {
<<<<<<< HEAD
  border-radius: 45px;  
  background-position: center;
  background-repeat: repeat;
  padding: 20px; 
=======
  border-radius: 45px;
  background-position: center;
  background-repeat: repeat;
  padding: 20px;
>>>>>>> AltBranch
  width: 300px;
  height: 200px;
  float: left;
}
.rcorners2 {
<<<<<<< HEAD
  border-radius: 45px;    
  padding: 20px; 
=======
  border-radius: 45px;
  padding: 20px;
>>>>>>> AltBranch
  width: 300px;
  height: 200px;
  float: right;
}
/***RESPONSIVE IMAGES***/
img {
  max-width: 100%;
  height: auto;
}
/***PAGE SPECIFIC LINKS***/
/* Overrides global css link styles for content */
.container2 a {
  color: blue;
  text-decoration: none;
<<<<<<< HEAD
}
.container2 a:visited {
    color: violet;
}
.container2 a:hover, .nav-active:hover {
  border-color: #FFF;
  color:  #1B2067;
}
=======
}
.container2 a:visited {
    color: violet;
}
.container2 a:hover, .nav-active:hover {
  border-color: #FFF;
  color:  #1B2067;
}
>>>>>>> AltBranch
.container1 a {
  color: blue;
  text-decoration: none;
}
.container1 a:visited {
    color: violet;
}
.container1 a:hover, .nav-active:hover {
  border-color: #FFF;
  color:  #1B2067;
}
