/* For gallery specific styles */

body {
	margin: 0;
	width: 100%;
}
/* Added height specificity for page header */
header {
	height: 80%;
	background-position: center;
}
/* Added margin for readability */
.header-content {
	margin-top: 70px;
}

.lake-pleasant-logo {
	height: 100%;
	left: 0px;
	display: inline-block;
}

#content {
	padding: 0 0 0 30px;
	background-color: #EBEBEB;
}

#content ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: table;
}

#content img {
	border-radius: 30px;
	margin: 1.5%;
	object-fit: cover;
	object-position: center left;
}

#content img:hover {
	opacity: 0.7;
}

@media only screen and (min-width: 100px) {
	nav li {
		width: 75px;
	}
	.one_row {
		height:120px;
	}
	.two_row {
		height:160px;
	}
	.three_row {
		height:200px;
	}
}

@media only screen and (min-width: 700px) {
	nav li {
		width: 100px;
	}
	.one_row {
		height:200px;
	}
	.two_row {
		height:250px;
	}
	.three_row {
		height:359px;
	}
}

@media only screen and (min-width: 1200px){
	nav li {
		width: 150px;
	}
	.one_row {
		height:300px;
	}
	.two_row {
		height:350px;
	}
	.three_row {
		height:559px;
	}
}

.one_col {
	width: 29.17%;
}
.two_col {
	width: 61.69%;
}
.three_col {
	width: 94%;
}

/* The Modal (background) */
#modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* End Modal */
