/* For Header, Footer, font, background color, and other global styles */
/* This includes global fonts, headings, paragraphs, etc  */

/* Box sizing: border-box global reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

body, html {
  height: 100%;
  margin: 0;
}

/* Header styles */
header {
  font-family: "Segoe UI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
  background-image: url("../img/headerbgimg.jpg");
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

header h1 {
  font-size: 90px;
  font-weight: bold;
  font-style: italic;
}

header h2 {
  color: #1B2067;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

/* Navigation Styles */
  nav {
    display: inline-block;
    color: white;
    font-size: 22px;
    filter: drop-shadow(0 3 6px #333);
    float: right;
}

a {
  color: white;
  text-decoration: none;
}

.nav-logo {
  width: 100px;
  height: 70px;
}

.nav-strip {
    background: rgba(114, 137, 158, 0.3);
}

.logo {
  width: 322px;
  height: 206px;
}

#reservations {
    font-family: "Segoe UI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    opacity: 100%;
    font-style: italic;
    letter-spacing: 200%;
}
.content {
    font-family: Bitter, Arial, sans-serif;
}
.content-container1 {
    background-color: #FFFFFF;
}
.content-container2 {
    background-color: #EBEBEB;
}
.content h1{
    font-family: Bitter, Arial, sans-serif;
    font-size: 60px;
    color: #A18C51;
    opacity: 1;
    font-style: italic;
    filter: drop-shadow(0 0 30px #333);
}
.content p {
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    color: #464444;
    opacity: 1;
    filter: drop-shadow(0 0 30px #333);
}

footer h1 {
    font-family: Bitter, Arial, sans-serif;
    font-size: 40px;
    color: #A18C51;
    opacity: 100%;
    font-style: italic;
    filter: drop-shadow(0 0 30px #333);
}
footer h2, p {
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    color: #CCC;
    opacity: 90%;
    filter: drop-shadow(0 0 30px #333);
}
/***FOOTER***/

/*** Color Palette:

Main Content:
Main content container background colors: #FFFFFF and #EBEBEB (white and gray for alternating sections)
Overall image border radius: 100
Gallery page image border radius: 80

Footer container background color: #00184A, opacity: 90%
Footer background image will be added to images as: footerbgimg
Footer background image: opacity: 40%, blur: 50
Footer middle column background color: #000438, opacity: 50%
Google Map: border-color: #A18C51, border-radius: 40, add soft drop shadow
Copyright container strip background color: #10133B
***/
