/* For Header, Footer, font, background color, and other global styles */
/* That includes global fonts, headings, paragraphs, etc  */

/* Box sizing: border-box global reset */
html {
  box-sizing: border-box;
}
/* More box sizing... */
*, *:before, *:after {
  box-sizing: inherit;
}
/* And more... */
html, body {
  height: 100%;
  margin: 0 auto;
}
/* Header styles */
header {
  color: white;
  font-family: "Segoe UI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-image: url("../img/headerbgimg.jpg");
  position: center;
  background-size: cover;
  height: 110%;
}
/* Container for all header content */
.header-content {
  float: left;
  text-align: center;
  margin: 50px 50px;
}
/* Big white header slogan */
header h1 {
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #696969;
}
/* Call-to-action - reservations phone number */
header h2 {
  color: #1B2067;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 3px;
}
/* Navigation styles */
  nav {
    display: inline-block;
    font-size: 16px;
    font-weight: 	600;
    letter-spacing: 2px;
    float: right;
    padding: 20px 0px 0px;
}
/* Gives navigation some spacing between links */
.nav-links {
  opacity: 0.9;
  margin: 0px 40px;
}
/* Gives border around active navigation link */
.nav-active {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 20px;
}
/* Overrides default link style */
a {
  color: white;
  text-decoration: none;
}
/* Changes link & navigation hover colors */
a:hover, .nav-active:hover {
  border-color: #1B2067;
  color:  #1B2067;
}
/* Creates navigation container strip */
.nav-strip {
    background: rgba(114, 137, 158, 0.3);
    height: 90px;
}
/* Sets logo size */
.logo {
  width: 322px;
  height: 206px;
}

.content {
    font-family: "Bitter", Arial, sans-serif;
}
.content-container1 {
    background-color: #FFFFFF;
}
.content-container2 {
    background-color: #EBEBEB;
}
.content h1{
    font-family: "Bitter", Arial, sans-serif;
    font-size: 60px;
    color: #A18C51;
    opacity: 1;
    font-style: italic;
    text-shadow: 2px 2px 4px #696969;
}
.content p {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 20px;
    color: #464444;
    opacity: 1;
    text-shadow: 2px 2px 4px #696969;
}

footer h1 {
    font-family: "Bitter", Arial, sans-serif;
    font-size: 40px;
    color: #A18C51;
    opacity: 100%;
    font-style: italic;
    text-shadow: 2px 2px 4px #696969;
}
footer h2, p {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 20px;
    color: #CCC;
    opacity: 90%;
    text-shadow: 2px 2px 4px #696969;
}
/***FOOTER***/

/*** Color Palette:

Main Content:
Main content container background colors: #FFFFFF and #EBEBEB (white and gray for alternating sections)
Overall image border radius: 100
Gallery page image border radius: 80

Footer container background color: #00184A, opacity: 90%
Footer background image will be added to images as: footerbgimg
Footer background image: opacity: 40%, blur: 50
Footer middle column background color: #000438, opacity: 50%
Google Map: border-color: #A18C51, border-radius: 40, add soft drop shadow
Copyright container strip background color: #10133B
***/
