/* For park life specific styles */
/* this is for the different box elements of the page */

/* Box grid layout */
.Box1 {
  background-color: #DCDCDC;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.Box2 {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.Box3 {
  background-color: #DCDCDC;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
/* column 1 syles */
.col1 {
  padding: 50px;
}
/* column 2 styles */
.col2 {
  text-align: center;
  padding: 50px;
}
/* image resizing */
.resize {
  width: 100%;
  border-radius: 30px;
}
.resize2 {
  width: 100%;
  transform: rotate(270deg);
}
/* font resizing */
.col1 p, .col2 p {
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.5em;
}
